<div class="section" id="experience">
  <div class="container py-2 cc-experience">
    <div class="h4 text-center mb-4 title">Work Experience</div>
    <div class="row">
      <ul class="timeline">
        <li>
          <div class="timeline-badge up bg-green">
            <i class="fa fa-users"></i>
          </div>
          <div class="timeline-panel">
            <div class="row">
              <div class="col-lg-6">
                <div class="h5 mt-0 title">PROMATAS TECHNOLOGY, Cochin</div>
                <div class="h6 mt-0 title">
                  Oracle ADF Developer (08-2015 to 05-2017)
                </div>
                <p align="justify">
                  For enterprises that understand the critical functions of
                  their systems,PROMATAS offer them consultancy at all levels in
                  IT Management and Engineering Services.
                </p>
                <p align="justify">
                  Worknig as oracle ADF developer for Promatas team
                </p>
              </div>
              <div class="col-lg-6">
                <ul>
                  <li class="list">Core Functionality</li>
                  <ul>
                    <li class="non_list">Application Development</li>
                  </ul>
                  <li class="list">Technologies and Language</li>
                  <ul>
                    <div class="row">
                      <div class="col-md-6">
                        <li class="non_list">Agile</li>
                        <li class="non_list">oracle ADF</li>
                        <li class="non_list">Oracle 12C Database</li>
                        <li class="non_list">J2EE</li>
                        <li class="non_list">java</li>
                        <li class="non_list">Git</li>
                      </div>
                    </div>
                  </ul>
                </ul>
              </div>
            </div>
          </div>
        </li>
        <!-- <li>
          <div class="timeline-badge down">
            <i class="fa fa-users"></i>
          </div>
          <div class="timeline-panel">
            <div class="row">
              <div class="col-lg-6">
                <div class="h5 mt-0 title">
                  Novelsynth Soft Solution Pvt Ltd
                </div>
                <div class="h6 mt-0 title">
                  Associate Software Engineer (2018-07 - 2019-08)
                </div>
                <p align="justify">
                  Worked as a Software developer to develop analytical and
                  visualization solution for oil and gas industries.
                </p>
              </div>
              <div class="col-lg-6">
                <ul>
                  <li class="list">Core Functionality</li>
                  <ul>
                    <li class="non_list">Software Development</li>
                    <li class="non_list">Application Development</li>
                    <li class="non_list">Web Development</li>
                  </ul>
                  <li class="list">Technologies and Language</li>
                  <ul>
                    <div class="row">
                      <div class="col-md-6">
                        <li class="non_list">Java</li>
                        <li class="non_list">Hibernate</li>
                        <li class="non_list">Maven</li>
                        <li class="non_list">Mysql</li>
                      </div>
                      <div class="col-md-6">
                        <li class="non_list">Python</li>
                        <li class="non_list">Microsoft Azure</li>
                        <li class="non_list">Vaadin Web Framework</li>
                        <li class="non_list">Git</li>
                      </div>
                    </div>
                  </ul>
                </ul>
              </div>
            </div>
          </div>
        </li> -->
      </ul>
    </div>
  </div>
</div>
