<div class="section" id="education">
  <div class="container cc-education">
    <div class="h4 text-center mb-4 title">Education</div>
    <div class="card">
      <div class="row">
        <div
          class="col-md-3 bg-primary"
          data-aos="fade-right"
          data-aos-offset="50"
          data-aos-duration="500"
        >
          <div class="card-body cc-education-header">
            <p>2020-2020</p>
            <div class="h5">Part-Time Course</div>
          </div>
        </div>
        <div
          class="col-md-9"
          data-aos="fade-left"
          data-aos-offset="50"
          data-aos-duration="500"
        >
          <div class="card-body">
            <div class="h4">Digital marketing & Social Media</div>
            <h4 class="category">DKIT</h4>
            <ul>
              <li>
                Completed part-time course in
                <b>Digital Marketing & Social Media</b>.
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="row">
        <div
          class="col-md-3 bg-primary"
          data-aos="fade-right"
          data-aos-offset="50"
          data-aos-duration="500"
        >
          <div class="card-body cc-education-header">
            <p>2011-2015</p>
            <div class="h5">Bachelor's Degree</div>
          </div>
        </div>
        <div
          class="col-md-9"
          data-aos="fade-left"
          data-aos-offset="50"
          data-aos-duration="500"
        >
          <div class="card-body">
            <div class="h4">Bachelor of Technology</div>
            <h4 class="category">Vijnan Institute Of Science & Technology</h4>
            <ul>
              <li>
                Completed <b>B-Tech</b> in
                <b>Computer Science & Engineering</b> with <b>70%</b> aggregate.
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="row">
        <div
          class="col-md-3 bg-primary"
          data-aos="fade-right"
          data-aos-offset="50"
          data-aos-duration="500"
        >
          <div class="card-body cc-education-header">
            <p>2009-2011</p>
            <div class="h5">Higher Secondary</div>
          </div>
        </div>
        <div
          class="col-md-9"
          data-aos="fade-left"
          data-aos-offset="50"
          data-aos-duration="500"
        >
          <div class="card-body">
            <div class="h5">Higher Secondary(DHSE)</div>
            <h4 class="category">
              GOVT Model Girls Higher Secondary School,Kunnamkulam
            </h4>
            <ul>
              <li>Completed <b>+2</b> with <b>87% </b>aggregate.</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="row">
        <div
          class="col-md-3 bg-primary"
          data-aos="fade-right"
          data-aos-offset="50"
          data-aos-duration="500"
        >
          <div class="card-body cc-education-header">
            <p>2007-2008</p>
            <div class="h5">Secondary School</div>
          </div>
        </div>
        <div
          class="col-md-9"
          data-aos="fade-left"
          data-aos-offset="50"
          data-aos-duration="500"
        >
          <div class="card-body">
            <div class="h4">Secondary School(KBPE)</div>
            <h4 class="category">
              Calicut Girls Vocational Higher Secondary School
            </h4>
            <ul>
              <li>Completed <b>SSLC</b> with <b>85%</b>.</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
